<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="googleMapsService" class="com.sos.service.business.GoogleMapsServiceImpl" />
	<bean id="servicoService" class="com.sos.service.business.ServicoServiceImpl" />
	<bean id="tipoServicoService" class="com.sos.service.business.TipoServicoServiceImpl" />
	<bean id="tokenGeneratorService" class="com.sos.service.business.TokenGeneratorServiceImpl" />
	<bean class="com.sos.api.TipoServicoAPI" scope="request" />
	<bean class="com.sos.api.ServicoAPI" scope="request" />
	<bean class="com.sos.api.CustomExceptionMapper" />
	<bean class="com.sos.api.UsuarioAPI" scope="request" />
	<bean class="com.sos.api.PrestadorAPI" scope="request" />
	
	<context:annotation-config />
	<context:component-scan base-package="com.sos.service" />
</beans> 