<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="greetingService" class="com.sos.api.GreetingServiceImpl" />
	<bean id="papelService" class="com.sos.service.business.PapelServiceImpl" />
	<bean class="com.sos.api.DateTimeService" scope="request" />
	<bean class="com.sos.api.SpringSingletonResource" />
	<bean class="com.sos.api.SpringRequestResource" scope="request" />
	<bean class="com.sos.api.CustomExceptionMapper" />
	
	<context:annotation-config />
	<context:component-scan base-package="com.sos.service" />
</beans>